{% extends "base.html.twig" %}
{% block title %}
Formulaire de connexion
{% endblock %}

{% block body %}
    <h2>Période</h2>
    Mois/année:<input type="month">
        <div>
            <h3>Frais au forfait</h3><br/>
            <table>
                <tr>
                    <td>Repas midi</td>
                    <td>Nuitée</td>
                    <td>Etape</td>
                    <td>Km</td>
                    <td>Situation</td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Hors Forfait</h3><br/>
            <table>
                <tr>
                    <td>Date</td>
                    <td>Libellé</td>
                    <td>Montant</td>
                    <td>Situation</td>
                </tr>
            </table>
        </div>
        <div>
            <h3>Hors Classification</h3><br/>
            <table>
                <tr>
                    
                    <th>nombre de justificatifs</th>
                    <th>montant</th>
                </tr>
                {% for uneFiche in Fiche %}
                <tr>
                    <td>{{ uneFiche.nbJustificatifs }}</td>
                    <td>{{ uneFiche.montantValide }}</td>
                    {#
                    <td><a href="/fiche/frais/update/{{ uneFiche.id }}" class="btn btn-outline-primary">MODIFIER</a></td>
                    <td><a href="/fiche/frais/supprimer/{{ uneFiche.id }}" class="btn btn-outline-danger">SUPPRIMER</a></td>
                    #}
                </tr>
                {% endfor %}
            </table><br/>
           
        </div>
    </center>

{% endblock %}