{% extends "base.html.twig" %}
{% block title %}
Connexion
{% endblock %}
{% block body %}
<center>
<div class="well">
<a href="/comptable/seConnecter" id="comptable" class="btn btn-outline-primary">COMPTABLE</a>
<a href="/visiteur/seConnecter" id="visiteur" class="btn btn-outline-primary">VISITEUR</a>
</div>
</center>
{% endblock %}